{% assign contests = site.data.data.contests %}
{% if contests %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-award fa-stack-1x fa-inverse"></i>
    </span>
    contests
  </h2>

  {% for contest in contests %}
  <div class="item">

    <div class="meta">

      <h3 class="job-title">{{ contest.title }}</h3>

      <div class="company">{{ contest.organizer }}</div>

      <div class="time">{{ contest.time }}</div>

    </div><!--//meta-->

    {% if contest.details %}
    <div class="details">
      {{ contest.details | markdownify }}

      {% if contest.certificate_file_name %}
        <a target="_blank" href="{{ site.baseurl }}/public_data/certificate/{{ contest.certificate_file_name }}"><u>View Certificate</u></a>
      {% endif %}
    </div><!--//details-->
    {% endif %}

    {% if contest.technologies %}
    <div class="technologies">
      <span>Technologies:</span>
      <div class="button-group">
        {%for technology in contest.technologies %}
        <a href="{{ technology.href }}" class="button" target="_blank">{{ technology.name }}</a>
        {% endfor %}
      </div>
    </div><!--//technologies-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
