/* styles-6 variables */
$theme-color: #4B6A78;
$text-color: #2B2B3D;
$text-color-secondary: #3d3d50;
$text-grey: #888888;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #eeeeef;
$heart: #fb866a;
